.calculator {
  max-width: 300px;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-family: sans-serif;
}

.result {
  height: 60px;
  background-color: #444;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  height: 60px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #d31010;
}

button:active {
  background-color: #db6516;
}